* h1 {
  font-size: 300%;
  /* font-size: calc(1.5rem + 1.5vw); */
}

* p {
  font-weight: lighter;
  font-size: 125%;
  /* font-size: calc(0.4rem + 1vw); */
}

body {
  margin: 0px;
  background-color: #007ef3;
  font-family: 'Roboto', sans-serif;
}

/* ||section header */
.firstLine {
  background-color: rgba(4, 84, 170, 0.5);
  align-items: center;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 2px 4px 6px rgb(18, 117, 223);
  /* font-size: 150%; */
  font-size: calc(0.5rem + 0.8vw);
}


.userLogo {
  margin-left: 30px;
}

.navigation {
  display: flex;
  margin: auto;
}

.firstLine a {
  text-decoration: none;
  color: white;
  padding: 28px 15px;
}

.firstLine a:hover {
  background-color: #0364be;
}

.searchArea {
  display: flex;
  margin-right: 30px;
  margin-left: auto;
  align-items: center;
}

.magnifyingGlass {
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.searchInput {
  display: none;
}

.yourArea {
  background-color: transparent;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  color: white;
  font-size: calc(0.5rem + 0.8vw);
  display: flex;
  padding: 10px 25px;
  cursor: pointer;
}

.avatar {
  height: 20px;
}

@media (max-width:500px){
  .navigation{
    display: none;
  }
  .searchArea{
    display: none;
  }
  .forstLine{
    height:50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size:80%;
  }

}

/* ||section "we make magic" */
.workingMan {
  background-image: url("image/Man_working.png");
  background-position: 80% 1%;
  background-repeat: no-repeat;
}
@media (max-width:500px){
  .workingMan{
    background-image: url("image/Man_working.png");
    background-position-x: center;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: 60%;
  }
  
}

.makeMagic {
  color: white;
  height: 600px;
  padding-left: 250px;
  padding-top: 100px;
  width: 500px;
}

.makeMagic h1 {
  font-size: calc(1.5rem + 3vw);
  font-weight: 600;
}

.makeMagic p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.makeMagic a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 70px;
}
@media (max-width: 400px){
  .makeMagic {
    text-align: center;
    padding: 50px;
    /* margin-top: 400px; */
    /* height: 570px; */
    width:100%;
  }
  }

/* ||section "What do we do" */
.whatDo {
  background-color: white;
  text-align: center;
  padding: 50px 300px 100px 300px;
}

.whatDo p {
  color: rgb(112, 112, 112)
  
}
@media (max-width:500px) {
  .whatDo{
    font-size: calc(0.5rem + 0.8vw);
    padding: 50px 20px;
  }
}


/* ||section 4 grids */
.fourGrids {
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 500px) {
.photoworking {
  grid-area: a;
}
.howdo {
  grid-area: b;
  
}
.group {
  grid-area: c;
}
.ourvalues {
  grid-area: d;
}
.fourGrids {
  grid-template-areas: 
  "a"
  "b"
  "c"
  "d";
  grid-template-columns: 1fr;
}

}

/*|| 1em grid "How do we do it" */
.howdo {
  padding-left: 200px;
  padding-top: 100px;
  padding-right: 80px;
  padding-bottom: 100px;
  line-height: 200%;
}
.howdo h1{
  padding-bottom: 10px;
  line-height: normal;
}

.howdo a {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.howdo img{
  padding-left: 12px;
  padding-top: 10px;
  height: 15px;
}

@media (max-width:500px){
  .howdo {
    font-size: calc(0.5rem + 0.8vw);
    /* max-width: 100%; */
    padding: 10px;
  }
  .howdo p{
    width:100%;
  }
}

/*|| 2em grid photoworking */
.photoworking {
  border-right: none;
  border-top: #d8ddff;
}

.photoworking img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ||3em grid image "groupe" */
.group {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 100px;
  background-color: #0364be;
}

/* ||4em grid "Our values" */
.ourvalues {
  padding-left: 80px;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 200px;
  border-left: #004c94;
  /* max-width: 450px; */
}

.displaymore {
  display: flex;
  border-bottom: 0.3px solid #b8ddff;
  justify-content: space-between;
}

.displaymore button {
  background-color: #007ef3;
  color: white;
  border: none;
  font-size: xx-large;
  cursor: pointer;
}

/* ||section "Contact us!" */
.contactus {
  background-color: white;
  padding-left: 200px;
  padding-top: 80px;
}

.contactus p {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.customer {
  display: flex;
  background-color: white;
  padding-left: 200px;
  padding-bottom: 100px;
  justify-content: start;
  padding-right: 160px;
}

@media (max-width: 500px) {
  .customer {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
}

.userDemand {
  min-width: 60%;
  padding-right: 1%;
}

.userDemand textarea {
  min-height: 100px;
}

.userDemand button {
  cursor: cell;
  border-radius: 5px;
  font-size: calc(0.5rem + 0.8vw); 
  padding: 10px 80px;
  margin-top: 30px;
  border: none;
}

.userinput {
  outline: none;
  width: 90%;
  height: 25px;
  margin: 8px;
  margin-left: 0px;
  padding: 10px;
  border: 3px solid rgb(223, 222, 222);
  border-radius: 5px;
  font-weight: 100;
}

.userinput:focus {
  border: 3px solid #3ca1ff;
}

.authorize {
  display: flex;
}

.authorize input{
  width: 20px;
  height: 20px;
  margin: 20px 5px 20px 0px;
}

.question {
  max-width: 33%;
  padding-left: 35px; 
}

.ifyouhave {
  background-color: #eff7ff;
  padding: 18px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.ifyouhave img {
  max-width: 100%;
  height: auto;
}

.findoffice {
  background-color: #f7f7f7;
  padding: 20px 30px;
  margin-top: 5px;
}
.findoffice a{
  text-decoration: none;
  color: #007ef3;
}

/* ||section "Do you want to start" */
.wantstart {
  background-color: #f3f3f3;
  font-weight: bolder;
  font-size: 150%;
  text-align: center;
  height: 150px;
  padding-top: 60px;
  border-top: 3px solid rgb(224, 224, 224);
  border-bottom: 3px solid rgb(224, 224, 224);
}

.wantstart a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 65%;
  border-radius: 5px;
  padding: 15px 50px;
  background-color: #007ef3;
}

.wantstart p {
  margin-top: 5px;
}

/* ||section footer */
footer {
  background-color: white;
}

.userlink {
  text-align: center;
  height: 120px;
  padding-top: 80px;
}

.userlink a {
  padding: 5px 10px;
}

.blacklogo {
  text-align: center;
  padding: 50px;
  border-top: 3px solid rgb(224, 224, 224);
}

.blacklogo svg {
  height: 25px;
  width: auto;
}

