* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* h1 {
  font-size: calc(1.5rem + 2vw);
}

* p {
  font-weight: lighter;
  font-size: calc(0.5rem + 1vw);
}

body {
  margin: 0px;
  background-color: #007ef3;
}

/* ||section header */
.firstLine {
  background-color: rgba(4, 84, 170, 0.5);
  align-items: center;
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 2px 4px 6px rgb(18, 117, 223);
  font-size: calc(0.5rem + 0.8vw);
}

.userLogo {
  margin-left: 30px;
}

.navigation {
  display: flex;
  margin: 0px auto;
}

.firstLine a {
  text-decoration: none;
  color: white;
  padding: 28px 15px;
}

.firstLine a:hover {
  background-color: #0364be;
}

.searchArea {
  display: flex;
  margin-right: 30px;
  margin-left: auto;
  align-items: center;
}

.magnifyingGlass {
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.searchInput {
  display: none;
}

.yourArea {
  background-color: transparent;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  color: white;
  font-size: calc(0.5rem + 0.8vw);
  display: flex;
  padding: 10px 25px;
  cursor: pointer;
}

.avatar {
  height: 20px;
}

/* ||section "we make magic" */
.workingMan {
  background-image: url("image/Man_working.png");
  background-position: 85% 10%;
  background-repeat: no-repeat;
}

.makeMagic {
  color: white;
  height: 600px;
  padding-left: 200px;
  padding-top: 100px;
  width: 400px;
}

.makeMagic h1 {
  font-size: calc(1.5rem + 3vw);
  font-weight: 600;
}

.makeMagic p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.makeMagic a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 70px;
}

/* ||section "What do we do" */
.whatDo {
  background-color: white;
  text-align: center;
  padding: 50px 320px 100px 320px;
}

.whatDo p {
  color: rgb(112, 112, 112)
}

/* ||section 4 grids */
.fourGrids {
  color: white;
  font-weight: lighter;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*|| 1em grid "How do we do it" */
.howdo {
  padding-left: 200px;
  padding-top: 80px;
  padding-right: 80px;
  padding-bottom: 100px;
  line-height: 200%;
}
.howdo h1{
  padding-bottom: 10px;
  line-height: normal;
}

.howdo a {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.howdo img{
  padding-left: 12px;
  padding-top: 12px;
  height: 15px;
}

/*|| 2em grid photoworking */
.photoworking {
  border-right: none;
  border-top: #d8ddff;
}

.photoworking img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ||3em grid image "groupe" */
.group {
  display: flex-box;
  padding: 100px;
  background-color: #0364be;
}

/* ||4em grid "Our values" */
.ourvalues {
  padding-left: 90px;
  padding-top: 70px;
  padding-bottom: 100px;
  padding-right: 200px;
  border-left: #004c94;
  max-width: 450px;
}

.displaymore {
  display: flex;
  border-bottom: 0.3px solid #b8ddff;
  padding: 0px;
  justify-content: space-between;
}

.displaymore button {
  background-color: #007ef3;
  color: white;
  border: none;
  font-size: xx-large;
  cursor: pointer;
}

/* ||section "Contact us!" */
.contactus {
  background-color: white;
  padding-left: 200px;
  padding-top: 80px;
}

.contactus p {
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.customer {
  display: flex;
  background-color: white;
  padding-left: 200px;
  padding-bottom: 100px;
  justify-content: start;
  padding-right: 210px;
}

@media (max-width: 1000px) {
  .customer {
    flex-direction: column;
    /* padding-left: 20px;
        padding-right: 20px; */
    align-items: center;
  }
}

@media (max-width: 500px) {
  .customer {
    /* flex-direction: column; */
    /* padding-left: 20px;
        padding-right: 20px; */
    /* align-items: center; */
  }
}

.userDemand {
  min-width: 54%;
  padding-right: 1%;
}

.userDemand textarea {
  min-height: 100px;
}

.userDemand button {
  cursor: cell;
  border-radius: 5px;
}

.userinput {
  outline: none;
  width: 90%;
  height: 25px;
  margin: 8px;
  margin-left: 0px;
  padding: 10px;
  border: 3px solid rgb(223, 222, 222);
  border-radius: 5px;
  font-weight: 100;
}

.userinput:focus {
  border: 3px solid #3ca1ff;
}

.authorize {
  display: flex;
}

.authorize input{
  width: 20px;
  height: 20px;
  margin: 20px 5px 20px 0px;
}

.userDemand button {
  padding: 10px 80px;
  margin-left: 0px;
  margin-top: 30px;
  border: none;
  font-weight: 100;
}

.question {
  max-width: 40%;
  padding-right: 0px;
  padding: 10px;
  padding-left: 70px;
}

.ifyouhave {
  background-color: #eff7ff;
  padding: 5px 20px;
  margin-bottom: 1px;
}

.ifyouhave img {
  padding: 20px;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
}

.ifyouhave p {
  margin: 0px;
  padding: 10px;
}

.findoffice {
  background-color: #f7f7f7;
  padding: 20px 30px;
  margin-top: 5px;
}
.findoffice a{
  text-decoration: none;
  color: #007ef3;
}

/* ||section "Do you want to start" */
.wantstart {
  background-color: #f3f3f3;
  font-weight: bolder;
  font-size: 150%;
  text-align: center;
  height: 150px;
  padding-top: 80px;
  border-top: 3px solid rgb(224, 224, 224);
  border-bottom: 3px solid rgb(224, 224, 224);
}

.wantstart a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  font-size: 65%;
  border-radius: 5px;
  padding: 15px 50px;
  background-color: #007ef3;
}

.wantstart p {
  margin-top: 0px;
  margin-bottom: 30px;
}

/* ||section footer */
footer {
  background-color: white;
}

.userlink {
  text-align: center;
  height: 120px;
  padding-top: 70px;
}

.userlink a {
  padding: 5px 10px;
}

.blacklogo {
  text-align: center;
  padding: 50px;
  border-top: 3px solid rgb(224, 224, 224);
}

.blacklogo svg {
  height: 20px;
  width: auto;
}