html{
    background-color: #007ef3;
}
*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #0272db;
    display: flexbox;
    align-items: center;
   
}

header a{
    text-decoration: none;
    color:white;
    align-items: center;
}

.makemagic{
    color: white;

}
.whatdo{
    background-color: white;
    text-align: center;
    padding:  100px 400px 100px 400px;
}
.whatdo h1{
    font-size: 250%;
}
.whatdo p{
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
}
.userlogo{
    width: 200px;
    height: 100px;
    border: 5px;
    color: black;
    background-color: #0272db
}

nav{
    
    
    justify-conte1nt: space-around;
}
.userdemande{
    
}
